<ion-header>
  <ion-toolbar>
    <ion-title size="large">Experiències guiades de Silo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-accordion-group *ngIf="files.length">
    <ion-accordion *ngFor="let file of files; let i = index">
      <ion-item slot="header" [color]="getColorSelected(i)" text-wrap (click)="openFile(file, i)">
        <ion-label>{{ file.name }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">{{ file.description }}</div>
    </ion-accordion>
  </ion-accordion-group>
  Produït, musicat, gravat, mesclat i masteritzat a BITSTUDI de Barcelona per Xavier Batllés
</ion-content>

<ion-footer *ngIf="currentFile?.file">
  <ion-toolbar color="primary">
    <ion-range color="light" min=0 max=100 [pin]="true" [pinFormatter]="updatePin" (ionChange)="onSeek($event)" [(ngModel)]="seekbar">
      <ion-icon color="light" slot="start" name="play-skip-back" aria-label="Anterior" (click)="previous()"></ion-icon>
      <ion-icon color="light" slot="end" name="play-skip-forward" aria-label="Següent" (click)="next()"></ion-icon>
    </ion-range>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title>{{currentFile?.file?.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="light" aria-label="Reproduir" (click)="play()">
        <ion-icon slot="icon-only" name="play" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="light" aria-label="Pausar" (click)="pause()">
        <ion-icon slot="icon-only" name="pause" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="light" aria-label="Parar" (click)="stop()">
        <ion-icon slot="icon-only" name="stop" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
