<ion-header color="primary">
  <img src="../../assets/saletasants.png" title="La Saleta de Sants - saletadesants.info">
</ion-header>

<ion-content padding>
  <ion-title>Experiències guiades</ion-title>
  <ion-accordion-group *ngIf="files.length">
    <ion-accordion *ngFor="let file of files; let i = index">
      <ion-item slot="header" text-wrap>
        <ion-label>{{ file.name }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">{{ file.description }}</div>
    </ion-accordion>
  </ion-accordion-group>
  Produït, musicat, gravat, mesclat i masteritzat a BITSTUDI de Barcelona per Xavier Batllés
</ion-content>
