<ion-header>
  <ion-toolbar>
    <ion-title size="large">Experiències guiades de Silo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-accordion-group *ngIf="files.length">
    <ion-accordion *ngFor="let file of files; let i = index">
      <ion-item slot="header" [color]="getColorSelected(i)" text-wrap (click)="openFile(file, i)">
        <ion-label>{{ file.name }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">{{ file.description }}</div>
    </ion-accordion>
  </ion-accordion-group>
  Produït, musicat, gravat, mesclat i masteritzat a BITSTUDI de Barcelona per Xavier Batllés
</ion-content>
